In [3]:
tuple1 = ("Morrocco","Italy","France","England","USA")
tuple1

('Morrocco', 'Italy', 'France', 'England', 'USA')

In [4]:
print(tuple1[1])

Italy

In [5]:
tuple1[2] = "Denmark"

TypeError: 'tuple' object does not support item assignment

In [6]:
tuple2 = ("Iceland","Greenland","Netherland","Turkey","Romania","Russia")
tuple3 = tuple1 + tuple2

In [7]:
tuple3

('Morrocco',
 'Italy',
 'France',
 'England',
 'USA',
 'Iceland',
 'Greenland',
 'Netherland',
 'Turkey',
 'Romania',
 'Russia')

In [8]:
for tu in tuple3:
    print(tu)

Morrocco
Italy
France
England
USA
Iceland
Greenland
Netherland
Turkey
Romania
Russia

In [9]:
tu = "Turkey"
ind = tuple3.index(tu)

In [10]:
print(ind)

8

In [12]:
coun1 = "Russia"
if coun1 in tuple3:
    print(f"The Country \"{coun1}\" is found in the Tuple.")
else:
    print(f"The element \"{coun1}\" is not found in the Tuple.")

The Country "Russia" is found in the Tuple.

In [13]:
tuple3 = tuple3*3

In [14]:
tuple3

('Morrocco',
 'Italy',
 'France',
 'England',
 'USA',
 'Iceland',
 'Greenland',
 'Netherland',
 'Turkey',
 'Romania',
 'Russia',
 'Morrocco',
 'Italy',
 'France',
 'England',
 'USA',
 'Iceland',
 'Greenland',
 'Netherland',
 'Turkey',
 'Romania',
 'Russia',
 'Morrocco',
 'Italy',
 'France',
 'England',
 'USA',
 'Iceland',
 'Greenland',
 'Netherland',
 'Turkey',
 'Romania',
 'Russia')